<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest">
  <Identity Name="ca8cfd34-3df2-48c6-a881-b842ce3093e1" Publisher="CN=Joel" Version="1.0.0.0" />
  <Properties>
    <DisplayName>KhanViewer</DisplayName>
    <PublisherDisplayName>Joel</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
    <Description>KhanViewer</Description>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.2</OSMinVersion>
    <OSMaxVersionTested>6.2</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="KhanViewer.App">
      <VisualElements DisplayName="KhanViewer" Logo="Assets\Logo.png" SmallLogo="Assets\SmallLogo.png" Description="KhanViewer" ForegroundText="light" BackgroundColor="#222222">
        <DefaultTile ShowName="allLogos" />
        <SplashScreen Image="Assets\SplashScreen.png" />
      </VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
</Package>