<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest">
  <Identity Name="63970JoelMartinez.ViewerforKhanAcademy" Publisher="CN=AEA966A6-E087-462D-83A2-EBBA4427D6C8" Version="1.0.0.0" />
  <Properties>
    <DisplayName>Viewer for Khan Academy</DisplayName>
    <PublisherDisplayName>Joel Martinez</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.2.0</OSMinVersion>
    <OSMaxVersionTested>6.2.0</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="KhanAcademy.App">
      <VisualElements DisplayName="Viewer for Khan Academy" Logo="Assets\khan150150.png" SmallLogo="Assets\khan3030.png" Description="An independent video player for educational videos from Khan Academy. Developed by Joel Martinez as a Coding4Fun Community Project." ForegroundText="dark" BackgroundColor="#42ad02">
        <DefaultTile ShowName="noLogos" WideLogo="Assets\khan310150.png" ShortName="Khan Academy" />
        <SplashScreen Image="Assets\khanSplashScreen.png" BackgroundColor="#42ad02" />
        <InitialRotationPreference>
          <Rotation Preference="portrait" />
          <Rotation Preference="landscape" />
          <Rotation Preference="portraitFlipped" />
          <Rotation Preference="landscapeFlipped" />
        </InitialRotationPreference>
      </VisualElements>
      <Extensions>
        <Extension Category="windows.search" />
      </Extensions>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
</Package>